 TWEETS index.html.erb

<ul>
<% @tweets.each do |x| %>
	<li> <%= x.tweet %></li>
	<h6>posted by <%= @users.find(x.user_id).name %> -- <%= time_ago_in_words(x.updated_at) %> ago.</h6>
	<%= link_to_if x.user_id == session[:id], "edit", edit_tweet_path(x) %>
<% end %>
</ul>